In [1]:
import pandas as pd

In [40]:
data = 'budget_data_1.csv'

data_df = pd.read_csv(data)
data_df.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [41]:
total_revenue = data_df['Revenue'].sum()

print('Total Revenue: ' + '$' + str(total_revenue))

Total Revenue: $18971412

In [42]:
total_months = data_df['Date'].count()

print('Total Months: ' + str(total_months))

Total Months: 41

In [43]:
rev_difference = data_df['Revenue'].diff()

rev_difference

data_df['Monthly Revenue Delta'] = rev_difference
data_df.head()

     Date  Revenue  Monthly Revenue Delta
0  Oct-12  1154293                    NaN
1  Nov-12   885773              -268520.0
2  Dec-12  -448704             -1334477.0
3  Jan-13   563679              1012383.0
4  Feb-13   555394                -8285.0

In [110]:
avg_monthly_delta = data_df['Monthly Revenue Delta'].mean()

print('Average Revenue Change: ' + '$' + str(round(avg_monthly_delta, 2)))

Average Revenue Change: $-6758.98

In [148]:
max_rev_change = data_df[['Date', 'Monthly Revenue Delta']][data_df['Monthly Revenue Delta'] == data_df['Monthly Revenue Delta'].max()]
max_rev_change

      Date  Monthly Revenue Delta
40  Feb-16              1837235.0

In [131]:
min_rev_change = data_df[['Date', 'Monthly Revenue Delta']][data_df['Monthly Revenue Delta'] == data_df['Monthly Revenue Delta'].min()]
min_rev_change

      Date  Monthly Revenue Delta
22  Aug-14             -1779747.0

In [175]:
max_rev_change = data_df[['Date', 'Monthly Revenue Delta']][data_df['Monthly Revenue Delta'] == data_df['Monthly Revenue Delta'].max()]
max_rev_change_reset = max_rev_change.reset_index(drop=True)
max_date = max_rev_change_reset.loc[:,'Date'].values[0]
max_date

max_rev = max_rev_change_reset.loc[:,'Monthly Revenue Delta'].values[0]
max_rev

print('Max Revenue Change: {} ({})'.format(max_date, int(max_rev)))

Max Revenue Change: Feb-16 (1837235)

In [176]:
min_rev_change = data_df[['Date', 'Monthly Revenue Delta']][data_df['Monthly Revenue Delta'] == data_df['Monthly Revenue Delta'].min()]
min_rev_change_reset = min_rev_change.reset_index(drop=True)
min_date = min_rev_change_reset.loc[:,'Date'].values[0]
min_date

min_rev = min_rev_change_reset.loc[:,'Monthly Revenue Delta'].values[0]
min_rev

print('Min Revenue Change: {} ({})'.format(min_date, int(min_rev)))

Min Revenue Change: Aug-14 (-1779747)