In [1]:
import pandas as pd

In [2]:
data = 'election_data_1.csv'
data_df = pd.read_csv(data)

data_df.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [5]:
total_votes = data_df['Voter ID'].count()

print('Total Votes: ' + str(total_votes))

Total Votes: 803000

In [10]:
candidates = data_df.groupby('Candidate')
candidates

In [25]:
candidate_votes = candidates['Voter ID'].count()
candidate_votes

Candidate
Cordin     24090
Seth       40150
Torres    353320
Vestal    385440
Name: Voter ID, dtype: int64

In [46]:
percent_votes = round((candidate_votes/ total_votes)*100,1)
percent_votes

Candidate
Cordin     3.0
Seth       5.0
Torres    44.0
Vestal    48.0
Name: Voter ID, dtype: float64

In [91]:
results_df = pd.concat([candidate_votes, percent_votes], axis=1)
results_df.columns = ['Votes', 'Percent']
print(results_df[['Percent', 'Votes']])

           Percent   Votes
Candidate
Cordin         3.0   24090
Seth           5.0   40150
Torres        44.0  353320
Vestal        48.0  385440

In [81]:
winner = results_df['Percent'].sort_values(ascending=False)
print(winner.index[0])

Vestal

In [88]:
results_df[['Percent', 'Votes']]

           Percent   Votes
Candidate
Cordin         3.0   24090
Seth           5.0   40150
Torres        44.0  353320
Vestal        48.0  385440